<%include header%>
    
   
    
      <% for(var i=0; i < lista.length; i++) { 
        console.log('En lista hay',lista.length,'elementos');
        %>
   
     <p><%= lista[i].nombre %></p>
     <img src="<%=ruta+lista[i].foto%>"></img>
   
<% } %>

<input type="text" id="name">
<button id="bfiltrar" onclick="filtrar()">Filtrar</button>

<script>
var a = document.getElementById('name');

function filtrar(){
   window.location.replace("./anuncios?name="+a.value);
};
</script>

<%include footer%>