<!DOCTYPE html>
<html>
  <head>
    <title><HOLA></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body> 
    
   
    
   <body> 
    
   
    
      <% for(var i=0; i < lista.length; i++) { 

        %>
   
     <p><%= lista[i]%></p>
     
   
<% } %>







  </body>
</html>
